html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

h1 {
  font-family: "Roboto Slab", "Georgia", serif;
  font-weight: 300;
  font-size: 4rem;
}

h2 {
  font-family: "Titillium Web", "Georgia", serif;
  font-weight: 300;
}
h3 {
  font-family: "Titillium Web", "Georgia", serif;
  font-weight: 300;
  font-size: 2rem;
}
h4 {
  font-family: "Neuton", "Georgia", serif;
  font-weight: 300;
  font-size: 1.5rem;
}
p {
  font-family: "Neuton", "Georgia", serif;
  font-weight: 200;
  font-size: 1.5rem;
}
