section {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
}
img {
  margin: 0px;
}

.about {
  background-color: #2c2930;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=2c293000&noise=626262&density=32&opacity=18);
}
.experience {
  background-color: #c6b28a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=2c293000&noise=626262&density=32&opacity=18);
}
.vertical {
  height: 80ch;
  width: 70ch;
  border: #2c2930 2px solid;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.horizontal {
  position: absolute;
  height: 70ch;
  width: 80ch;
  border: #2c2930 2px solid;
  margin-top: auto;
  margin-bottom: auto;
}
.content {
  margin: auto;
  width: 50ch;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.university {
  border-top: #2c2930 2px solid;
}

.contact {
  background-color: #81837e;
}
.skills {
  border: #2c2930 2px solid;
  padding: 2rem;
}

.card1,
.card2,
.card3,
.card4 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
}

.card1 {
  min-width: 60ch;
  min-height: 60ch;
  width: 45vw;
  height: 45vw;
  max-width: 100ch;
  max-height: 100ch;
  background-color: #81837e;
}

.card2 {
  width: 50ch;
  height: 30ch;
  background-color: #b2b89e;
}

.card3 {
  opacity: 0.5;
  width: 90ch;
  height: 25ch;
  background-color: #c6b28a;
}

.card4 {
  width: 40ch;
  height: 25ch;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card4 > h2 {
  margin: 0;
}

.highlight {
  background-color: #b2b89e;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #b2b89e 50%);
}
.highlight-orange {
  background-color: #c6b28a;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 50%, #c6b28a 50%);
}

.work {
  background-color: #b2b89e;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(http://api.thumbr.it/whitenoise-361x370.png?background=2c293000&noise=626262&density=32&opacity=18);
}
.work-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.machine-music {
  /* position: absolute; */
  width: 750px;
  height: 400px;
  background-color: #c6b28a;
  display: flex;
  align-items: center;
  justify-content: space-around;
  left: 65rem;
  top: 4rem;
  flex-direction: column;
}
.trust-this-feast {
  /* position: absolute; */
  width: 750px;
  height: 400px;
  background-color: #81837e;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 10rem;
  left: 5rem;
  flex-direction: column-reverse;
}
.data-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
}
.data-wrapper h3,
.data-wrapper p {
  margin-bottom: 0px;
  margin-top: 0px;
}
.data-wrapper a div {
  margin-top: 10px;
}
.title {
  z-index: 3;
  margin-bottom: 10rem;
}
.email {
  position: fixed;
  z-index: 3;
  top: 50%;
  transform: rotate(-90deg);
  background-color: #81837e;
}
.email > a {
  font-family: "Titillium Web", "Georgia", serif;
  font-weight: 100;
  font-size: 1.5rem;
}
