header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  z-index: 1;
}
header > h2 {
  margin-right: 2rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: inherit;
  box-shadow: none;
}
.white > a {
  color: #81837e;
}
.black > a {
  color: #16202b;
}
.active {
  border-bottom: 1px black solid;
}
