header {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
h2 {
  margin-right: 2rem;
}
a {
  text-decoration: none;
}
.white {
  color: #81837e;
}
.black {
  color: #16202b;
}
